﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>About Us</h2>
                    <span>Home / <a href="about-us.html">About us</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="timeline-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Who We Are</h2>
                    <img src="~/Content/images/under-heading.png" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Our Company</h3>
                <p>Nulla sodales ut tellus blandit accumsan. Aliquam erat volutpat. Morbi quis vestibulum erat. Nam malesuada lobortis tempus. Fusce fermentum libero fringilla odio pharetra malesuada. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam ultrices lectus quis consequat fringilla. Mauris non ex et purus sollicitudin tempus vitae quis nisi.</p>
            </div>
            <div class="col-md-6">
                <h3>Team Management</h3>
                <p>Suspendisse quis consectetur nisi, vitae consequat sem. In et quam id libero venenatis venenatis. Morbi vitae justo vulputate, auctor augue eu, pulvinar augue. Vestibulum placerat sem eu posuere laoreet. Ut ac ex nec urna maximus tristique interdum eget ipsum. Duis at pharetra neque, ut condimentum ex. Nunc tincidunt magna nec aliquam rhoncus. Morbi a posuere nunc.</p>
            </div>
        </div>

        <div class="space50"></div>

        <div class="row">
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="~/Content/images/timeline1.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Breakfast</h4></a>
                            <p>7:30 AM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="~/Content/images/timeline2.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Lunch</h4></a>
                            <p>11:20 AM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="~/Content/images/timeline3.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Lunch</h4></a>
                            <p>1:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="~/Content/images/timeline4.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Dinner</h4></a>
                            <p>6:30 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="~/Content/images/timeline5.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Dinner</h4></a>
                            <p>8:20 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="~/Content/images/timeline6.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Dinner</h4></a>
                            <p>9:10 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="our-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Our Team</h2>
                    <img src="~/Content/images/under-heading.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="authors">
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="~/Content/images/author1.jpg" alt="Tracy - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>Tracy</h2>
                        <span>Designer</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="~/Content/images/author2.jpg" alt="Mary - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>Mary</h2>
                        <span>Developer</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="~/Content/images/author3.jpg" alt="Julia - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>Julia</h2>
                        <span>Director</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="~/Content/images/author4.jpg" alt="Linda - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>Linda</h2>
                        <span>Manager</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="testimonails">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Testimonials and Awards</h2>
                    <img src="~/Content/images/under-heading.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="testimonails-slider">
                    <ul class="slides">
                        <li>
                            <div class="testimonails-content">
                                <p>Nam nec risus feugiat dui ultrices dignissim. Morbi ex purus, commodo a tristique eu, mollis a nisi. Pellentesque in enim sit amet tellus ornare fringilla eget eu arcu. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                                <h6>Jennifer - <a href="#">Chief Designer</a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="testimonails-content">
                                <p>Fusce fermentum libero fringilla odio pharetra malesuada. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam ultrices lectus quis consequat fringilla. Mauris non ex et purus sollicitudin.</p>
                                <h6>Laureen - <a href="#">Marketing Executive</a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="testimonails-content">
                                <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                                <h6>Tanya - <a href="#">Creative Director</a></h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

