﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<!--

Grill Template

http://www.templatemo.com/free-website-templates/417-grill

-->

<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are usig an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    

    <div id="heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-content">
                        <h2>Contact Us</h2>
                        <span>Home / <a href="contact-us.html">Contact Us</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="product-post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-section">
                        <h2>Feel free to send a message</h2>
                        <img src="~/Content/images/under-heading.png" alt="">
                    </div>
                </div>
            </div>
            <div id="contact-us">
                <div class="container">
                    <div class="row">
                        <div class="product-item col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="message-form">
                                        <form action="#" method="post" class="send-message">
                                            <div class="row">
                                                <div class="name col-md-4">
                                                    <input type="text" name="name" id="name" placeholder="Name" />
                                                </div>
                                                <div class="email col-md-4">
                                                    <input type="text" name="email" id="email" placeholder="Email" />
                                                </div>
                                                <div class="subject col-md-4">
                                                    <input type="text" name="subject" id="subject" placeholder="Subject" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="text col-md-12">
                                                    <textarea name="text" placeholder="Message"></textarea>
                                                </div>
                                            </div>
                                            <div class="send">
                                                <button type="submit">Send</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="info">
                                        <p>Duis at pharetra neque, ut condimentum, purus nisl pretium quam, in pulvinar velit massa id elit. </p>
                                        <ul>
                                            <li><i class="fa fa-phone"></i>090-080-0760</li>
                                            <li><i class="fa fa-globe"></i>456 New Dagon City Studio, Yankinn, Digital Estate</li>
                                            <li><i class="fa fa-envelope"></i><a href="#">info@company.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-section">
                        <h2>Find Us On Map</h2>
                        <img src="~/Content/images/under-heading.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="googleMap" style="height:340px;"></div>
                </div>
            </div>
        </div>
    </div>

    
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/jquery.gmap3.min.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false">
    </script>

    <script>

		var map;

        function initialize()
        {
			var map_options = {
			  center: new google.maps.LatLng(16.8496189,96.1288854),
			  zoom: 15,
			  mapTypeId:google.maps.MapTypeId.ROADMAP
			  };
			var map = new google.maps.Map(document.getElementById("googleMap"), map_options);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
		google.maps.event.addDomListener(window, "resize", function()
		{
		 	var center = map.getCenter();
		 	google.maps.event.trigger(map, "resize");
		 	map.setCenter(center);
		});
    </script>
</body>
</html>