﻿@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <title>Products - Grill Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <link rel="stylesheet" href="~/Content/templatemo_style.css">
    <link rel="stylesheet" href="~/Content/templatemo_misc.css">
    <link rel="stylesheet" href="~/Content/flexslider.css">
    <link rel="stylesheet" href="~/Content/testimonails-slider.css">

    <script src="js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
</head>
<body>


    <div id="heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-content">
                        <h2>Our Products</h2>
                        <span>Home / <a href="about-us.html">Products</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div id="products-post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="product-heading">
                        <h2>Hungry ?</h2>
                        <img src="~/Content/images/under-heading.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="filters col-md-12 col-xs-12">
                    <ul id="filters" class="clearfix">
                        <li><span class="filter" data-filter="all">All</span></li>
                        <li><span class="filter" data-filter=".ginger">Ginger</span></li>
                        <li><span class="filter" data-filter=".pizza">Pizza</span></li>
                        <li><span class="filter" data-filter=".pasta">Pasta</span></li>
                        <li><span class="filter" data-filter=".drink">Drink</span></li>
                        <li><span class="filter" data-filter=".hamburger">Hamburger</span></li>
                    </ul>
                </div>
            </div>
            <div class="row" id="Container">
                <div class="col-md-3 col-sm-6 mix portfolio-item Pizza">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/images/product1.jpg" alt="" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/product1_big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <span>Pizza</span>
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3>@Html.ActionLink("Vege Pizza", "singlepost", "Home")</h3>
                            <span class="text-category">$16.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item ginger">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/images/product2.jpg" alt="" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/product2_big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <span>Ginger</span>
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3>@Html.ActionLink("Ginger Tea", "singlepost", "Home")</h3>
                            <span class="text-category">$24.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item pizza">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/images/product3.jpg" alt="" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/product3_big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <span>Pizza</span>
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3>@Html.ActionLink("Fresh Salad", "singlepost", "Home")</h3>
                            <span class="text-category">$12.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item pasta">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/images/product4.jpg" alt="" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/product4_big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <span>Pasta</span>
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3>@Html.ActionLink("Healthy Herbal Tea", "singlepost", "Home")</h3>
                            <span class="text-category">$8.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item drink">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/images/product5.jpg" alt="" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/product5_big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <span>Drink</span>
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3>@Html.ActionLink("Fruit Salad", "singlepost", "Home") </h3>
                            <span class="text-category">$12.50</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item hamburger">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/images/product6.jpg" alt="" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/product6_big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <span>Hamburger</span>
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3>@Html.ActionLink("Spicy Hamburger", "singlepost", "Home")</h3>
                            <span class="text-category">$7.50</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item pizza">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/images/product7.jpg" alt="" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/product7_big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <span>Pizza</span>
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3>@Html.ActionLink("Chocolate Cake", "singlepost", "Home")</h3>
                            <span class="text-category">$16.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item pasta">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/images/product8.jpg" alt="" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/product8_big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <span>Pasta</span>
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3>@Html.ActionLink("Berry Taste", "singlepost", "Home")Berry Taste</h3>
                            <span class="text-category">$15.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item hamburger">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/images/product3.jpg" alt="" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/product3_big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <span>Hamburger</span>
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3>@Html.ActionLink("Onion Grilled", "singlepost", "Home")</h3>
                            <span class="text-category">$16.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item drink">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/images/product2.jpg" alt="" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/product2_big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <span>Drink</span>
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3>@Html.ActionLink("Another Ginger", "singlepost", "Home")</h3>
                            <span class="text-category">$18.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item ginger">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/images/product1.jpg" alt="" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/product1_big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <span>Ginger</span>
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3>@Html.ActionLink("Mocha Coffee", "singlepost", "Home") </h3>
                            <span class="text-category">$16.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mix portfolio-item pasta">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="~/Content/images/product6.jpg" alt="" />
                            <div class="hover">
                                <div class="hover-iner">
                                    <a class="fancybox" href="~/Content/images/product6_big.jpg"><img src="~/Content/images/open-icon.png" alt="" /></a>
                                    <span>Pasta</span>
                                </div>
                            </div>
                        </div>
                        <div class="label-text">
                            <h3>@Html.ActionLink("Dessert Time", "singlepost", "Home") </h3>
                            <span class="text-category">$16.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li><a href="#">Previous</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script src="~/Scriptsr/jquery.gmap3.min.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>