﻿@model WebApplication3.Areas.Admin.Models.RoleEkleModel
@{
    ViewBag.Title = "RolEkle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>RolEkle</h2>
@using (Html.BeginForm("RoleEkle", "RolYonetimi", FormMethod.Post))
{
   
    @Html.TextBoxFor(m => m.RolAd)
    <input type="submit" />

}




